#content {
    padding: 20px;
    margin-top: 2rem;
    margin-left: .5rem;

    ul {
        padding-left: 2em;
    }
}

.post-nav {
    .previous {
        display: inline-block;
        margin-left: .5em;
        margin-bottom: .5em
    }

    .next {
        float: right;
        margin-right: .5em;
        margin-bottom: .5em
    }
}

.vertical-banner {
    float: right;
    padding-left: 20px;
}